# Clean Descriptions for ML

In [7]:
import pandas as pd

txns = pd.read_json("../data/all.json")
txns.head()

,id,date,description,amount,source,tags
0,1,2014-12-19,Funds transfer credit TT UJJAL KUMAR,5320.00,RBC_CHEQUING,[transfer]
1,2,2014-12-19,Funds transfer fee TT UJJAL KUMAR,-15.00,RBC_CHEQUING,[misc]
2,3,2015-01-05,Online Banking payment - 0440 UOFT,-5327.61,RBC_CHEQUING,[education]
3,4,2015-01-05,Misc Payment RBC CREDIT CARD,-684.90,RBC_CHEQUING,"[transfer, cardpayment]"
4,5,2015-01-16,Monthly fee,-10.95,RBC_CHEQUING,[misc]